{{#if opponent}}
  {{#link-to "losangeles.schedule" data.shortname}}
    <h2>{{data.name}} vs {{opponent.team}}</h2>
    <div class="meta meta-time">{{formatDate opponent.date}}</div>
    <div class="meta meta-location">{{data.address.name}}, {{data.address.city}} {{data.address.state}}</div>
  {{/link-to}}
{{else}}
  <h2>{{data.name}}</h2>
    <p>No schedule yet.</p>
{{/if}}